body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF; 
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.header-logo,
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo .logo-part {
    color: #2E2F42;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.main-section {
    background-color: #2E2F42;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.order-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.features-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.team-section {
    background-color: #F4F4FD;
}

.team-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}

.team-member {
    background-color: #FFFFFF;
}

.team-member-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
}

.job-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: left;
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

.page-footer {
    background-color: #2E2F42;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    text-align: left;
}